[access]
	inheritFrom = All-Non-CI-Projects
[access "refs/*"]
	owner = group Administrators
[project]
	description = AddOn for X.509 certificate management - ssh://codereview.qt-project.org:29418/qt/qtx509.git
[receive]
	requireContributorAgreement = true
[cherryPick]
	includeReviewedOn = true
[submit]
	action = cherry pick
	mergeContent = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
